body {
	font-family: 'Rajdhani', sans-serif;
}

a:hover {
	text-decoration: none;
}

a:focus {
	text-decoration: none;
}

li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}
